body {
    text-align: center;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
}

h1 {
    color: #66BFBF;
    font-size: 4em;
    font-family: 'Mansalva', cursive;
    font-weight: normal;
}

h2 {
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    color: #11999E;
}

p {
    color: #40514e;
}

hr {
    border-style: none;
    border-top-style: dotted;
    width: 15%;
    border-width: 10px;
    color: gray;
}

.top-container {
    background-color: #beebe9;
    padding-top: 135px;
    position: relative;
}

.middle-container {
    padding-top: 20px;
    background-color: #9dd8c8;
}

.bottom-container {
    background-color: #fcf5b0;
    margin: 0px;
    padding-bottom: 10px;
    scroll-padding-top: 10px;
}

.pro {
    text-decoration: underline;
}

.cloud {
    width: 20%;
    position: absolute;
    top: 20px;
    right: 100px;
}

.cloud2 {
    width: 15%;
    position: absolute;
    top: 300px;
    left: 100px;
}

.mountain {
    position: relative;
    top: 9px;
    width: 50%;
}

.coding-gif {
    widows: 25%;
    float: left;
    margin-right: 30px;
}

.crosshair {
    width: 25%;
    float: right;
    margin-right: 30px;
}
.skill-row {
    width: 50%;
    display: inline-block;
    text-align: left;
    line-height: 2;
}
